openapi: 3.0.3
info:
  title: AuthOS API
  description: |
    Comprehensive Laravel 12 authentication service API - An Auth0 alternative providing OAuth 2.0, OpenID Connect, multi-factor authentication, and single sign-on capabilities.
    
    ## Features
    - OAuth 2.0 & OpenID Connect server implementation
    - Multi-tenant organization management
    - Role-based access control (RBAC)
    - Multi-factor authentication (MFA) with TOTP
    - Real-time authentication monitoring
    - Comprehensive user and application management
    - Rate limiting with role-based adjustments
    
    ## Authentication
    This API uses OAuth 2.0 Bearer tokens for authentication. Include the token in the Authorization header:
    ```
    Authorization: Bearer {access_token}
    ```
    
    ## Rate Limiting
    Different endpoints have varying rate limits based on their usage patterns:
    - Authentication: 10 requests/minute (per IP)
    - Registration: 5 requests/hour (per IP) 
    - Standard API: 1000 requests/hour (per user)
    - Admin API: 200 requests/hour (per user)
    - Bulk Operations: 100 requests/hour (per user)
    - MFA: 20 requests/hour (per user)
    - OAuth: 20 requests/minute (per IP)
    
    Rate limits are increased for users with higher roles (Super Admin gets 5x, Organization Admin gets 3x, Application Admin gets 2x).
    
    ## Error Handling
    All API errors follow a consistent JSON format with appropriate HTTP status codes.
    
  version: 1.0.0
  contact:
    name: AuthOS API Support
    email: support@authos.dev
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.authos.dev/api/v1
    description: Production server
  - url: https://staging-api.authos.dev/api/v1
    description: Staging server
  - url: http://authos.test/api/v1
    description: Development server

paths:
  # Authentication Endpoints
  /auth/register:
    post:
      tags:
        - Authentication
      summary: User registration
      description: Register a new user account with optional organization association
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
                - password_confirmation
                - terms_accepted
              properties:
                name:
                  type: string
                  maxLength: 255
                  example: "John Doe"
                email:
                  type: string
                  format: email
                  maxLength: 255
                  example: "john@example.com"
                password:
                  type: string
                  minLength: 8
                  pattern: '^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]'
                  description: "Password must contain at least one lowercase letter, one uppercase letter, one digit, and one special character"
                  example: "StrongP@ss123"
                password_confirmation:
                  type: string
                  example: "StrongP@ss123"
                organization_slug:
                  type: string
                  description: "Optional organization slug to associate user with"
                  example: "techcorp"
                profile:
                  type: object
                  properties:
                    timezone:
                      type: string
                      example: "America/New_York"
                    language:
                      type: string
                      enum: [en, es, fr, de]
                      example: "en"
                terms_accepted:
                  type: boolean
                  example: true
      responses:
        201:
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        $ref: '#/components/schemas/User'
                      access_token:
                        type: string
                        description: "JWT access token"
                      token_type:
                        type: string
                        example: "Bearer"
                      expires_in:
                        type: integer
                        description: "Token expiration time in seconds"
                        example: 3600
                      scope:
                        type: string
                        example: "openid profile email"
                  message:
                    type: string
                    example: "User registered successfully"
        422:
          $ref: '#/components/responses/ValidationError'
        429:
          $ref: '#/components/responses/RateLimitError'

  /auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticate user and return access token
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: "john@example.com"
                password:
                  type: string
                  example: "StrongP@ss123"
                client_id:
                  type: string
                  description: "OAuth client ID"
                  example: "9c2b8a1e-4f5d-4a7b-8c9d-1e2f3g4h5i6j"
                scopes:
                  type: array
                  items:
                    type: string
                    enum: [openid, profile, email, read, write]
                  example: ["openid", "profile", "email"]
      responses:
        200:
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        429:
          $ref: '#/components/responses/RateLimitError'

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: User logout
      description: Logout user and revoke access token
      operationId: logoutUser
      security:
        - bearerAuth: []
      responses:
        200:
          description: Successfully logged out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Successfully logged out"

  /auth/user:
    get:
      tags:
        - Authentication
      summary: Get current user
      description: Retrieve authenticated user information based on token scopes
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        200:
          description: Current user information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        401:
          $ref: '#/components/responses/UnauthorizedError'

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh access token
      description: Refresh an expired access token using refresh token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh_token
              properties:
                refresh_token:
                  type: string
                  example: "def50200..."
      responses:
        200:
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        400:
          $ref: '#/components/responses/BadRequestError'

  /auth/revoke:
    post:
      tags:
        - Authentication
      summary: Revoke access token
      description: Revoke the current access token
      operationId: revokeToken
      security:
        - bearerAuth: []
      responses:
        200:
          description: Token revoked successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Token revoked successfully"

  # Social Authentication Endpoints
  /auth/social/providers:
    get:
      tags:
        - Social Authentication
      summary: Get available social providers
      description: Retrieve list of configured and enabled social authentication providers
      operationId: getSocialProviders
      responses:
        200:
          description: Social providers retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      providers:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              example: "google"
                            display_name:
                              type: string
                              example: "Google"
                            enabled:
                              type: boolean
                              example: true
                            icon:
                              type: string
                              example: "fab fa-google"
                      count:
                        type: integer
                        example: 3
        500:
          $ref: '#/components/responses/ServerError'

  /auth/social/{provider}:
    get:
      tags:
        - Social Authentication
      summary: Initiate social authentication
      description: Get redirect URL for social authentication provider
      operationId: socialAuthRedirect
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [google, github, facebook, twitter, linkedin]
          example: "google"
      responses:
        200:
          description: Social authentication redirect URL generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      redirect_url:
                        type: string
                        format: uri
                        example: "https://accounts.google.com/oauth/authorize?..."
                      provider:
                        type: string
                        example: "google"
        400:
          $ref: '#/components/responses/BadRequestError'

  /auth/social/{provider}/callback:
    get:
      tags:
        - Social Authentication
      summary: Handle social auth callback
      description: Process OAuth callback from social provider and return authentication tokens
      operationId: socialAuthCallback
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [google, github, facebook, twitter, linkedin]
        - name: code
          in: query
          required: true
          schema:
            type: string
          description: "OAuth authorization code"
        - name: state
          in: query
          schema:
            type: string
          description: "OAuth state parameter"
      responses:
        200:
          description: Social authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      user:
                        $ref: '#/components/schemas/User'
                      access_token:
                        type: string
                        example: "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9..."
                      token_type:
                        type: string
                        example: "Bearer"
                      expires_in:
                        type: integer
                        example: 3600
                      scope:
                        type: string
                        example: "openid profile email"
                      provider:
                        type: string
                        example: "google"
                  message:
                    type: string
                    example: "Social authentication successful"
        400:
          $ref: '#/components/responses/BadRequestError'
        500:
          $ref: '#/components/responses/ServerError'

  /auth/social/unlink:
    delete:
      tags:
        - Social Authentication
      summary: Unlink social account
      description: Remove social authentication link from user account
      operationId: unlinkSocialAccount
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - provider
              properties:
                provider:
                  type: string
                  enum: [google, github, facebook, twitter, linkedin]
                  example: "google"
      responses:
        200:
          description: Social account unlinked successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Social account unlinked successfully"
        400:
          $ref: '#/components/responses/BadRequestError'
        401:
          $ref: '#/components/responses/UnauthorizedError'

  # OAuth 2.0 Endpoints
  /oauth/authorize:
    get:
      tags:
        - OAuth 2.0
      summary: OAuth authorization endpoint
      description: OAuth 2.0 authorization endpoint supporting authorization code and implicit flows
      operationId: authorizeOAuth
      parameters:
        - name: response_type
          in: query
          required: true
          schema:
            type: string
            enum: [code, token]
          example: "code"
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          example: "9c2b8a1e-4f5d-4a7b-8c9d-1e2f3g4h5i6j"
        - name: redirect_uri
          in: query
          required: true
          schema:
            type: string
            format: uri
          example: "https://app.example.com/callback"
        - name: scope
          in: query
          schema:
            type: string
          example: "openid profile email"
        - name: state
          in: query
          schema:
            type: string
          description: "CSRF protection parameter"
          example: "xyz123"
        - name: code_challenge
          in: query
          schema:
            type: string
          description: "PKCE code challenge"
        - name: code_challenge_method
          in: query
          schema:
            type: string
            enum: [plain, S256]
          description: "PKCE code challenge method"
      responses:
        302:
          description: Redirect to redirect_uri with authorization code
        400:
          $ref: '#/components/responses/BadRequestError'
        429:
          $ref: '#/components/responses/RateLimitError'

  /oauth/token:
    post:
      tags:
        - OAuth 2.0
      summary: OAuth token endpoint
      description: Exchange authorization code for access token
      operationId: getOAuthToken
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
                - client_id
              properties:
                grant_type:
                  type: string
                  enum: [authorization_code, client_credentials, password, refresh_token]
                  example: "authorization_code"
                client_id:
                  type: string
                  example: "9c2b8a1e-4f5d-4a7b-8c9d-1e2f3g4h5i6j"
                client_secret:
                  type: string
                code:
                  type: string
                  description: "Required for authorization_code grant"
                redirect_uri:
                  type: string
                  format: uri
                  description: "Required for authorization_code grant"
                code_verifier:
                  type: string
                  description: "PKCE code verifier"
                refresh_token:
                  type: string
                  description: "Required for refresh_token grant"
                username:
                  type: string
                  description: "Required for password grant"
                password:
                  type: string
                  description: "Required for password grant"
                scope:
                  type: string
                  example: "openid profile email"
      responses:
        200:
          description: Access token issued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        400:
          $ref: '#/components/responses/BadRequestError'
        401:
          $ref: '#/components/responses/UnauthorizedError'

  /oauth/userinfo:
    get:
      tags:
        - OAuth 2.0
      summary: OpenID Connect UserInfo endpoint
      description: Get user information based on access token scopes
      operationId: getUserInfo
      security:
        - bearerAuth: []
      responses:
        200:
          description: User information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        401:
          $ref: '#/components/responses/UnauthorizedError'

  /oauth/introspect:
    post:
      tags:
        - OAuth 2.0
      summary: Token introspection endpoint
      description: RFC 7662 compliant token introspection for real-time token validation
      operationId: introspectToken
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - token
                - client_id
              properties:
                token:
                  type: string
                  description: "Access token to introspect"
                  example: "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9..."
                client_id:
                  type: string
                  description: "OAuth client ID"
                  example: "9c2b8a1e-4f5d-4a7b-8c9d-1e2f3g4h5i6j"
                client_secret:
                  type: string
                  description: "OAuth client secret (for confidential clients)"
                token_type_hint:
                  type: string
                  enum: [access_token, refresh_token]
                  description: "Hint about token type"
      responses:
        200:
          description: Token introspection response
          content:
            application/json:
              schema:
                type: object
                properties:
                  active:
                    type: boolean
                    description: "Whether the token is active and valid"
                    example: true
                  client_id:
                    type: string
                    description: "Client ID the token was issued for"
                    example: "9c2b8a1e-4f5d-4a7b-8c9d-1e2f3g4h5i6j"
                  username:
                    type: string
                    description: "Username of the token owner"
                    example: "john@example.com"
                  scope:
                    type: string
                    description: "Space-separated list of scopes"
                    example: "openid profile email"
                  exp:
                    type: integer
                    description: "Token expiration timestamp"
                    example: 1693012800
                  iat:
                    type: integer
                    description: "Token issued at timestamp"
                    example: 1693009200
                  sub:
                    type: string
                    description: "Subject identifier (user ID)"
                    example: "1"
                  aud:
                    type: string
                    description: "Intended audience"
                    example: "api.authos.dev"
        400:
          $ref: '#/components/responses/BadRequestError'
        401:
          $ref: '#/components/responses/UnauthorizedError'

  /oauth/jwks:
    get:
      tags:
        - OAuth 2.0
      summary: JSON Web Key Set endpoint
      description: Get public keys for JWT token verification
      operationId: getJWKS
      responses:
        200:
          description: JSON Web Key Set
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      type: object
                      properties:
                        kty:
                          type: string
                          example: "RSA"
                        use:
                          type: string
                          example: "sig"
                        kid:
                          type: string
                          example: "2023-08-25"
                        n:
                          type: string
                          description: "RSA modulus"
                        e:
                          type: string
                          description: "RSA exponent"
                          example: "AQAB"

  /.well-known/openid-configuration:
    get:
      tags:
        - OAuth 2.0
      summary: OpenID Connect Discovery endpoint
      description: Get OpenID Connect server configuration
      operationId: getOpenIDConfiguration
      responses:
        200:
          description: OpenID Connect configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  issuer:
                    type: string
                    format: uri
                    example: "https://api.authos.dev"
                  authorization_endpoint:
                    type: string
                    format: uri
                    example: "https://api.authos.dev/api/v1/oauth/authorize"
                  token_endpoint:
                    type: string
                    format: uri
                    example: "https://api.authos.dev/api/v1/oauth/token"
                  userinfo_endpoint:
                    type: string
                    format: uri
                    example: "https://api.authos.dev/api/v1/oauth/userinfo"
                  jwks_uri:
                    type: string
                    format: uri
                    example: "https://api.authos.dev/api/v1/oauth/jwks"
                  response_types_supported:
                    type: array
                    items:
                      type: string
                    example: ["code", "token", "id_token"]
                  subject_types_supported:
                    type: array
                    items:
                      type: string
                    example: ["public"]
                  id_token_signing_alg_values_supported:
                    type: array
                    items:
                      type: string
                    example: ["RS256"]
                  scopes_supported:
                    type: array
                    items:
                      type: string
                    example: ["openid", "profile", "email", "read", "write"]
                  grant_types_supported:
                    type: array
                    items:
                      type: string
                    example: ["authorization_code", "implicit", "client_credentials", "password"]

  # User Management Endpoints
  /users:
    get:
      tags:
        - User Management
      summary: List users
      description: Get paginated list of users with filtering and search capabilities
      operationId: listUsers
      security:
        - bearerAuth: [admin]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 15
        - name: search
          in: query
          schema:
            type: string
            maxLength: 255
          description: "Search by name or email"
        - name: sort
          in: query
          schema:
            type: string
            enum: [name, email, created_at, updated_at]
            default: created_at
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: organization_id
          in: query
          schema:
            type: integer
          description: "Filter by organization ID"
        - name: role
          in: query
          schema:
            type: string
          description: "Filter by role name"
        - name: mfa_enabled
          in: query
          schema:
            type: boolean
          description: "Filter by MFA status"
      responses:
        200:
          description: Users retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/User'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/ForbiddenError'
        422:
          $ref: '#/components/responses/ValidationError'

    post:
      tags:
        - User Management
      summary: Create user
      description: Create a new user account
      operationId: createUser
      security:
        - bearerAuth: [admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
              properties:
                name:
                  type: string
                  maxLength: 255
                email:
                  type: string
                  format: email
                  maxLength: 255
                password:
                  type: string
                  minLength: 8
                organization_id:
                  type: integer
                profile:
                  type: object
                roles:
                  type: array
                  items:
                    type: string
                  description: "Array of role names to assign"
                is_active:
                  type: boolean
                  default: true
      responses:
        201:
          description: User created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/User'
                  message:
                    type: string
                    example: "User created successfully"
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/ForbiddenError'
        422:
          $ref: '#/components/responses/ValidationError'

  /users/{id}:
    get:
      tags:
        - User Management
      summary: Get user details
      description: Retrieve detailed information about a specific user
      operationId: getUser
      security:
        - bearerAuth: [admin]
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        200:
          description: User details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/ForbiddenError'
        404:
          $ref: '#/components/responses/NotFoundError'

    put:
      tags:
        - User Management
      summary: Update user
      description: Update user information
      operationId: updateUser
      security:
        - bearerAuth: [admin]
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                email:
                  type: string
                  format: email
                  maxLength: 255
                organization_id:
                  type: integer
                profile:
                  type: object
                is_active:
                  type: boolean
      responses:
        200:
          description: User updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/User'
                  message:
                    type: string
                    example: "User updated successfully"
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/ForbiddenError'
        404:
          $ref: '#/components/responses/NotFoundError'
        422:
          $ref: '#/components/responses/ValidationError'

    delete:
      tags:
        - User Management
      summary: Delete user
      description: Delete a user account
      operationId: deleteUser
      security:
        - bearerAuth: [admin]
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        200:
          description: User deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "User deleted successfully"
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/ForbiddenError'
        404:
          $ref: '#/components/responses/NotFoundError'

  /users/{id}/applications:
    get:
      tags:
        - User Management
      summary: Get user applications
      description: List applications that the user has access to
      operationId: getUserApplications
      security:
        - bearerAuth: [admin]
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        200:
          description: User applications retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationAccess'

    post:
      tags:
        - User Management
      summary: Grant application access
      description: Grant user access to an application
      operationId: grantUserApplicationAccess
      security:
        - bearerAuth: [admin]
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - application_id
              properties:
                application_id:
                  type: integer
                metadata:
                  type: object
                  description: "Additional metadata for the access grant"
      responses:
        201:
          description: Application access granted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Application access granted successfully"

  /users/{id}/applications/{applicationId}:
    delete:
      tags:
        - User Management
      summary: Revoke application access
      description: Revoke user access to an application
      operationId: revokeUserApplicationAccess
      security:
        - bearerAuth: [admin]
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/ApplicationId'
      responses:
        200:
          description: Application access revoked successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Application access revoked successfully"

  /users/bulk:
    patch:
      tags:
        - User Management
      summary: Bulk user operations
      description: Perform bulk operations on multiple users (role assignment, status updates, etc.)
      operationId: bulkUserOperations
      security:
        - bearerAuth: [admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - operation
                - user_ids
              properties:
                operation:
                  type: string
                  enum: [assign_role, remove_role, activate, deactivate, grant_application_access, revoke_application_access]
                  example: "assign_role"
                user_ids:
                  type: array
                  items:
                    type: integer
                  example: [1, 2, 3]
                data:
                  type: object
                  description: "Operation-specific data (e.g., role_name for role operations)"
                  example: {"role_name": "admin"}
      responses:
        200:
          description: Bulk operation completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      processed:
                        type: integer
                        example: 3
                      successful:
                        type: integer
                        example: 2
                      failed:
                        type: integer
                        example: 1
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            user_id:
                              type: integer
                            error:
                              type: string
                  message:
                    type: string
                    example: "Bulk operation completed"
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/ForbiddenError'
        422:
          $ref: '#/components/responses/ValidationError'

  /users/{id}/roles:
    get:
      tags:
        - User Management
      summary: Get user roles
      description: List all roles assigned to a specific user
      operationId: getUserRoles
      security:
        - bearerAuth: [admin]
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        200:
          description: User roles retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                          example: "admin"
                        display_name:
                          type: string
                          example: "Administrator"
                        permissions:
                          type: array
                          items:
                            type: string
                          example: ["users.read", "users.write"]

    post:
      tags:
        - User Management
      summary: Assign role to user
      description: Assign a specific role to a user
      operationId: assignUserRole
      security:
        - bearerAuth: [admin]
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - role_name
              properties:
                role_name:
                  type: string
                  example: "admin"
      responses:
        201:
          description: Role assigned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Role assigned successfully"

  /users/{id}/roles/{roleId}:
    delete:
      tags:
        - User Management
      summary: Remove role from user
      description: Remove a specific role from a user
      operationId: removeUserRole
      security:
        - bearerAuth: [admin]
      parameters:
        - $ref: '#/components/parameters/UserId'
        - name: roleId
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        200:
          description: Role removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Role removed successfully"

  /users/{id}/sessions:
    get:
      tags:
        - User Management
      summary: Get user sessions
      description: List all active sessions for a specific user
      operationId: getUserSessions
      security:
        - bearerAuth: [admin]
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        200:
          description: User sessions retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        ip_address:
                          type: string
                          example: "192.168.1.1"
                        user_agent:
                          type: string
                          example: "Mozilla/5.0..."
                        last_activity:
                          type: string
                          format: date-time
                        created_at:
                          type: string
                          format: date-time

    delete:
      tags:
        - User Management
      summary: Revoke all user sessions
      description: Revoke all active sessions for a specific user
      operationId: revokeAllUserSessions
      security:
        - bearerAuth: [admin]
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        200:
          description: All sessions revoked successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "All sessions revoked successfully"

  /users/{id}/sessions/{sessionId}:
    delete:
      tags:
        - User Management
      summary: Revoke specific user session
      description: Revoke a specific session for a user
      operationId: revokeUserSession
      security:
        - bearerAuth: [admin]
      parameters:
        - $ref: '#/components/parameters/UserId'
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
          example: "abc123"
      responses:
        200:
          description: Session revoked successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Session revoked successfully"

  # Application Management Endpoints
  /applications:
    get:
      tags:
        - Application Management
      summary: List applications
      description: Get paginated list of OAuth applications
      operationId: listApplications
      security:
        - bearerAuth: [admin]
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - name: organization_id
          in: query
          schema:
            type: integer
      responses:
        200:
          description: Applications retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Application'

    post:
      tags:
        - Application Management
      summary: Create application
      description: Create a new OAuth application
      operationId: createApplication
      security:
        - bearerAuth: [admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - organization_id
              properties:
                name:
                  type: string
                  maxLength: 255
                  example: "My App"
                organization_id:
                  type: integer
                redirect_uris:
                  type: array
                  items:
                    type: string
                    format: uri
                  example: ["https://app.example.com/callback"]
                allowed_origins:
                  type: array
                  items:
                    type: string
                  example: ["https://app.example.com"]
                allowed_grant_types:
                  type: array
                  items:
                    type: string
                    enum: [authorization_code, implicit, client_credentials, password]
                  default: ["authorization_code"]
                webhook_url:
                  type: string
                  format: uri
                settings:
                  type: object
      responses:
        201:
          description: Application created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ApplicationDetail'
                  message:
                    type: string
                    example: "Application created successfully"

  /applications/{id}:
    get:
      tags:
        - Application Management
      summary: Get application details
      description: Retrieve detailed information about an application
      operationId: getApplication
      security:
        - bearerAuth: [admin]
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
      responses:
        200:
          description: Application details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ApplicationDetail'

    put:
      tags:
        - Application Management
      summary: Update application
      description: Update application information
      operationId: updateApplication
      security:
        - bearerAuth: [admin]
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                redirect_uris:
                  type: array
                  items:
                    type: string
                    format: uri
                allowed_origins:
                  type: array
                  items:
                    type: string
                allowed_grant_types:
                  type: array
                  items:
                    type: string
                    enum: [authorization_code, implicit, client_credentials, password]
                webhook_url:
                  type: string
                  format: uri
                settings:
                  type: object
                is_active:
                  type: boolean
      responses:
        200:
          description: Application updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Application'
                  message:
                    type: string
                    example: "Application updated successfully"

    delete:
      tags:
        - Application Management
      summary: Delete application
      description: Delete an OAuth application
      operationId: deleteApplication
      security:
        - bearerAuth: [admin]
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
      responses:
        200:
          description: Application deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Application deleted successfully"

  # Profile Management Endpoints
  /profile:
    get:
      tags:
        - Profile Management
      summary: Get current user profile
      description: Get the authenticated user's profile information
      operationId: getProfile
      security:
        - bearerAuth: []
      responses:
        200:
          description: Profile retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserProfile'

    put:
      tags:
        - Profile Management
      summary: Update profile
      description: Update the authenticated user's profile
      operationId: updateProfile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                profile:
                  type: object
                  properties:
                    timezone:
                      type: string
                      example: "America/New_York"
                    language:
                      type: string
                      enum: [en, es, fr, de]
                      example: "en"
                    bio:
                      type: string
                      maxLength: 1000
                    location:
                      type: string
                      maxLength: 255
                    website:
                      type: string
                      format: uri
      responses:
        200:
          description: Profile updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserProfile'
                  message:
                    type: string
                    example: "Profile updated successfully"

  /profile/change-password:
    post:
      tags:
        - Profile Management
      summary: Change password
      description: Change the authenticated user's password
      operationId: changePassword
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - current_password
                - password
                - password_confirmation
              properties:
                current_password:
                  type: string
                password:
                  type: string
                  minLength: 8
                  pattern: '^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]'
                password_confirmation:
                  type: string
      responses:
        200:
          description: Password changed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Password changed successfully"

  # MFA Management Endpoints
  /mfa/status:
    get:
      tags:
        - MFA Management
      summary: Get MFA status
      description: Get the current MFA configuration status
      operationId: getMFAStatus
      security:
        - bearerAuth: []
      responses:
        200:
          description: MFA status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      methods:
                        type: array
                        items:
                          type: string
                          enum: [totp, recovery_codes]
                      backup_codes_count:
                        type: integer
                        description: "Number of unused recovery codes"

  /mfa/setup/totp:
    post:
      tags:
        - MFA Management
      summary: Setup TOTP MFA
      description: Setup Time-based One-Time Password authentication
      operationId: setupTOTP
      security:
        - bearerAuth: []
      responses:
        200:
          description: TOTP setup initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      qr_code:
                        type: string
                        description: "Base64 encoded QR code image"
                      secret:
                        type: string
                        description: "TOTP secret key"
                      backup_codes:
                        type: array
                        items:
                          type: string
                        description: "Recovery codes (shown only once)"

  /mfa/verify/totp:
    post:
      tags:
        - MFA Management
      summary: Verify TOTP setup
      description: Verify and confirm TOTP authentication setup
      operationId: verifyTOTP
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  pattern: '^[0-9]{6}$'
                  description: "6-digit TOTP code"
                  example: "123456"
      responses:
        200:
          description: TOTP verified and enabled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "TOTP authentication enabled successfully"

  # Organization Management Endpoints
  /organizations:
    get:
      tags:
        - Organization Management
      summary: List organizations
      description: Get paginated list of organizations
      operationId: listOrganizations
      security:
        - bearerAuth: [admin]
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        200:
          description: Organizations retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Organization'

    post:
      tags:
        - Organization Management
      summary: Create organization
      description: Create a new organization
      operationId: createOrganization
      security:
        - bearerAuth: [admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  maxLength: 255
                  example: "TechCorp Solutions"
                slug:
                  type: string
                  maxLength: 255
                  pattern: '^[a-z0-9-]+$'
                  description: "Auto-generated from name if not provided"
                  example: "techcorp-solutions"
                settings:
                  type: object
                  properties:
                    require_mfa:
                      type: boolean
                      default: false
                    session_timeout:
                      type: integer
                      description: "Session timeout in minutes"
                      default: 1440
                    password_policy:
                      type: object
                      properties:
                        min_length:
                          type: integer
                          default: 8
                        require_uppercase:
                          type: boolean
                          default: true
                        require_lowercase:
                          type: boolean
                          default: true
                        require_numbers:
                          type: boolean
                          default: true
                        require_symbols:
                          type: boolean
                          default: true
      responses:
        201:
          description: Organization created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Organization'
                  message:
                    type: string
                    example: "Organization created successfully"

  /organizations/{id}:
    get:
      tags:
        - Organization Management
      summary: Get organization details
      description: Retrieve detailed information about a specific organization
      operationId: getOrganization
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        200:
          description: Organization details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/OrganizationDetail'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/ForbiddenError'
        404:
          $ref: '#/components/responses/NotFoundError'

    put:
      tags:
        - Organization Management
      summary: Update organization
      description: Update organization information and settings
      operationId: updateOrganization
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                  example: "TechCorp Solutions Updated"
                settings:
                  type: object
                  properties:
                    require_mfa:
                      type: boolean
                    session_timeout:
                      type: integer
                    password_policy:
                      type: object
                is_active:
                  type: boolean
      responses:
        200:
          description: Organization updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Organization'
                  message:
                    type: string
                    example: "Organization updated successfully"

    delete:
      tags:
        - Organization Management
      summary: Delete organization
      description: Delete an organization and all associated data
      operationId: deleteOrganization
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        200:
          description: Organization deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Organization deleted successfully"

  /organizations/{id}/settings:
    get:
      tags:
        - Organization Management
      summary: Get organization settings
      description: Retrieve organization-specific settings and policies
      operationId: getOrganizationSettings
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        200:
          description: Organization settings retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      require_mfa:
                        type: boolean
                        example: false
                      session_timeout:
                        type: integer
                        example: 1440
                      password_policy:
                        type: object
                      security_level:
                        type: string
                        enum: [low, medium, high]
                        example: "medium"

    put:
      tags:
        - Organization Management
      summary: Update organization settings
      description: Update organization settings and security policies
      operationId: updateOrganizationSettings
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                require_mfa:
                  type: boolean
                session_timeout:
                  type: integer
                  minimum: 60
                  maximum: 10080
                password_policy:
                  type: object
                  properties:
                    min_length:
                      type: integer
                      minimum: 8
                      maximum: 128
                    require_uppercase:
                      type: boolean
                    require_lowercase:
                      type: boolean
                    require_numbers:
                      type: boolean
                    require_symbols:
                      type: boolean
                security_level:
                  type: string
                  enum: [low, medium, high]
                allow_registration:
                  type: boolean
      responses:
        200:
          description: Organization settings updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Organization settings updated successfully"

  /organizations/{id}/users:
    get:
      tags:
        - Organization Management
      summary: Get organization users
      description: List all users associated with an organization
      operationId: getOrganizationUsers
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        200:
          description: Organization users retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/User'

    post:
      tags:
        - Organization Management
      summary: Grant user access to organization
      description: Grant a user access to organization applications
      operationId: grantOrganizationUserAccess
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
                - application_id
              properties:
                user_id:
                  type: integer
                  example: 1
                application_id:
                  type: integer
                  example: 1
                metadata:
                  type: object
                  description: "Additional metadata for the access grant"
      responses:
        201:
          description: User access granted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "User access granted successfully"

  /organizations/{id}/users/{userId}/applications/{applicationId}:
    delete:
      tags:
        - Organization Management
      summary: Revoke user access
      description: Revoke user access to organization application
      operationId: revokeOrganizationUserAccess
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
        - name: userId
          in: path
          required: true
          schema:
            type: integer
          example: 1
        - name: applicationId
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        200:
          description: User access revoked successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "User access revoked successfully"

  /organizations/{id}/applications:
    get:
      tags:
        - Organization Management
      summary: Get organization applications
      description: List all applications belonging to an organization
      operationId: getOrganizationApplications
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        200:
          description: Organization applications retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Application'

  /organizations/{id}/analytics:
    get:
      tags:
        - Organization Management
      summary: Get organization analytics
      description: Retrieve comprehensive analytics and metrics for an organization
      operationId: getOrganizationAnalytics
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
        - name: period
          in: query
          schema:
            type: string
            enum: [day, week, month, year]
            default: month
          description: "Analytics period"
      responses:
        200:
          description: Organization analytics retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      summary:
                        type: object
                        properties:
                          total_users:
                            type: integer
                            example: 150
                          active_users:
                            type: integer
                            example: 120
                          total_applications:
                            type: integer
                            example: 5
                          total_logins:
                            type: integer
                            example: 2500
                      user_growth:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              format: date
                            count:
                              type: integer
                      login_activity:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              format: date
                            logins:
                              type: integer
                      top_applications:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            usage_count:
                              type: integer
                      security_events:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                            count:
                              type: integer

  /organizations/{id}/metrics/users:
    get:
      tags:
        - Organization Management
      summary: Get user metrics
      description: Retrieve detailed user metrics for an organization
      operationId: getOrganizationUserMetrics
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        200:
          description: User metrics retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      total_users:
                        type: integer
                      active_users:
                        type: integer
                      inactive_users:
                        type: integer
                      mfa_enabled_users:
                        type: integer
                      role_distribution:
                        type: object

  /organizations/{id}/metrics/applications:
    get:
      tags:
        - Organization Management
      summary: Get application metrics
      description: Retrieve detailed application usage metrics for an organization
      operationId: getOrganizationApplicationMetrics
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        200:
          description: Application metrics retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      total_applications:
                        type: integer
                      active_applications:
                        type: integer
                      total_tokens_issued:
                        type: integer
                      usage_by_application:
                        type: array
                        items:
                          type: object

  /organizations/{id}/metrics/security:
    get:
      tags:
        - Organization Management
      summary: Get security metrics
      description: Retrieve security-related metrics and events for an organization
      operationId: getOrganizationSecurityMetrics
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        200:
          description: Security metrics retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      failed_login_attempts:
                        type: integer
                      successful_logins:
                        type: integer
                      mfa_usage:
                        type: integer
                      security_events:
                        type: array
                        items:
                          type: object

  /organizations/{id}/export:
    post:
      tags:
        - Organization Management
      summary: Export organization data
      description: Export organization data in various formats
      operationId: exportOrganizationData
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - format
              properties:
                format:
                  type: string
                  enum: [csv, json, xlsx]
                  example: "csv"
                data_types:
                  type: array
                  items:
                    type: string
                    enum: [users, applications, analytics, security_logs]
                  example: ["users", "applications"]
                date_range:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date
                    end:
                      type: string
                      format: date
      responses:
        200:
          description: Export initiated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      export_id:
                        type: string
                        example: "exp_123456"
                      download_url:
                        type: string
                        format: uri
                        example: "https://api.authos.dev/exports/exp_123456.csv"
                      expires_at:
                        type: string
                        format: date-time
                  message:
                    type: string
                    example: "Export completed successfully"

  # Invitation Management
  /organizations/{id}/invitations:
    get:
      tags:
        - Organization Management
      summary: List organization invitations
      description: Get paginated list of pending invitations for an organization
      operationId: listOrganizationInvitations
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, accepted, expired]
          description: "Filter invitations by status"
      responses:
        200:
          description: Invitations retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Invitation'

    post:
      tags:
        - Organization Management
      summary: Create invitation
      description: Create a new user invitation for the organization
      operationId: createOrganizationInvitation
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  example: "newuser@example.com"
                role:
                  type: string
                  example: "user"
                application_ids:
                  type: array
                  items:
                    type: integer
                  example: [1, 2]
                expires_at:
                  type: string
                  format: date-time
                  description: "Invitation expiration (defaults to 7 days)"
      responses:
        201:
          description: Invitation created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Invitation'
                  message:
                    type: string
                    example: "Invitation created successfully"

  /organizations/{id}/invitations/{invitationId}:
    delete:
      tags:
        - Organization Management
      summary: Delete invitation
      description: Cancel a pending invitation
      operationId: deleteOrganizationInvitation
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
        - name: invitationId
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        200:
          description: Invitation deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Invitation deleted successfully"

  /organizations/{id}/invitations/{invitationId}/resend:
    post:
      tags:
        - Organization Management
      summary: Resend invitation
      description: Resend a pending invitation email
      operationId: resendOrganizationInvitation
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
        - name: invitationId
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        200:
          description: Invitation resent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Invitation resent successfully"

  /organizations/{id}/invitations/bulk:
    post:
      tags:
        - Organization Management
      summary: Bulk invite users
      description: Create multiple invitations at once
      operationId: bulkInviteUsers
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - invitations
              properties:
                invitations:
                  type: array
                  items:
                    type: object
                    required:
                      - email
                    properties:
                      email:
                        type: string
                        format: email
                      role:
                        type: string
                      application_ids:
                        type: array
                        items:
                          type: integer
                  example:
                    - email: "user1@example.com"
                      role: "user"
                      application_ids: [1]
                    - email: "user2@example.com"
                      role: "admin"
                      application_ids: [1, 2]
      responses:
        200:
          description: Bulk invitations processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 2
                      successful:
                        type: integer
                        example: 2
                      failed:
                        type: integer
                        example: 0
                      invitations:
                        type: array
                        items:
                          $ref: '#/components/schemas/Invitation'
                  message:
                    type: string
                    example: "Bulk invitations processed successfully"

  # Bulk Operations for Organizations
  /organizations/{id}/bulk/invite-users:
    post:
      tags:
        - Organization Management
      summary: Bulk invite users to organization
      description: Send invitations to multiple users for organization access
      operationId: bulkInviteOrganizationUsers
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - emails
              properties:
                emails:
                  type: array
                  items:
                    type: string
                    format: email
                  example: ["user1@example.com", "user2@example.com"]
                role:
                  type: string
                  example: "user"
                application_ids:
                  type: array
                  items:
                    type: integer
                  example: [1, 2]
      responses:
        200:
          description: Bulk invitations sent successfully

  /organizations/{id}/bulk/assign-roles:
    post:
      tags:
        - Organization Management
      summary: Bulk assign roles to users
      description: Assign roles to multiple users within an organization
      operationId: bulkAssignOrganizationRoles
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_ids
                - role_name
              properties:
                user_ids:
                  type: array
                  items:
                    type: integer
                  example: [1, 2, 3]
                role_name:
                  type: string
                  example: "admin"
      responses:
        200:
          description: Roles assigned successfully

  /organizations/{id}/bulk/revoke-access:
    post:
      tags:
        - Organization Management
      summary: Bulk revoke access
      description: Revoke application access for multiple users
      operationId: bulkRevokeOrganizationAccess
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_ids
                - application_id
              properties:
                user_ids:
                  type: array
                  items:
                    type: integer
                  example: [1, 2, 3]
                application_id:
                  type: integer
                  example: 1
      responses:
        200:
          description: Access revoked successfully

  /organizations/{id}/bulk/export-users:
    post:
      tags:
        - Organization Management
      summary: Export organization users
      description: Export user data for an organization in various formats
      operationId: exportOrganizationUsers
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - format
              properties:
                format:
                  type: string
                  enum: [csv, json, xlsx]
                  example: "csv"
                include_fields:
                  type: array
                  items:
                    type: string
                  example: ["name", "email", "roles", "last_login"]
      responses:
        200:
          description: Export completed successfully

  /organizations/{id}/bulk/import-users:
    post:
      tags:
        - Organization Management
      summary: Import organization users
      description: Import multiple users from file upload
      operationId: importOrganizationUsers
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: "CSV or Excel file with user data"
                role:
                  type: string
                  example: "user"
                  description: "Default role for imported users"
                send_invitations:
                  type: boolean
                  example: true
                  description: "Whether to send invitation emails"
      responses:
        200:
          description: Import completed successfully

  # Custom Roles Management for Organizations
  /organizations/{id}/custom-roles:
    get:
      tags:
        - Organization Management
      summary: List custom roles
      description: Get organization-specific custom roles
      operationId: listOrganizationCustomRoles
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        200:
          description: Custom roles retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomRole'

    post:
      tags:
        - Organization Management
      summary: Create custom role
      description: Create a new custom role for the organization
      operationId: createOrganizationCustomRole
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - permissions
              properties:
                name:
                  type: string
                  example: "Application Manager"
                display_name:
                  type: string
                  example: "Application Manager"
                description:
                  type: string
                  example: "Manages organization applications"
                permissions:
                  type: array
                  items:
                    type: string
                  example: ["applications.read", "applications.write"]
      responses:
        201:
          description: Custom role created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/CustomRole'
                  message:
                    type: string
                    example: "Custom role created successfully"

  /organizations/{id}/custom-roles/{roleId}:
    get:
      tags:
        - Organization Management
      summary: Get custom role details
      description: Retrieve detailed information about a custom role
      operationId: getOrganizationCustomRole
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
        - name: roleId
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        200:
          description: Custom role details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/CustomRole'

    put:
      tags:
        - Organization Management
      summary: Update custom role
      description: Update a custom role's permissions and details
      operationId: updateOrganizationCustomRole
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
        - name: roleId
          in: path
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                display_name:
                  type: string
                description:
                  type: string
                permissions:
                  type: array
                  items:
                    type: string
      responses:
        200:
          description: Custom role updated successfully

    delete:
      tags:
        - Organization Management
      summary: Delete custom role
      description: Delete a custom role from the organization
      operationId: deleteOrganizationCustomRole
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
        - name: roleId
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        200:
          description: Custom role deleted successfully

  /organizations/{id}/custom-roles/{roleId}/assign-users:
    post:
      tags:
        - Organization Management
      summary: Assign users to custom role
      description: Assign multiple users to a custom role
      operationId: assignUsersToCustomRole
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
        - name: roleId
          in: path
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_ids
              properties:
                user_ids:
                  type: array
                  items:
                    type: integer
                  example: [1, 2, 3]
      responses:
        200:
          description: Users assigned to role successfully

  /organizations/{id}/custom-roles/{roleId}/remove-users:
    post:
      tags:
        - Organization Management
      summary: Remove users from custom role
      description: Remove multiple users from a custom role
      operationId: removeUsersFromCustomRole
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
        - name: roleId
          in: path
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_ids
              properties:
                user_ids:
                  type: array
                  items:
                    type: integer
                  example: [1, 2, 3]
      responses:
        200:
          description: Users removed from role successfully

  # Organization Reports
  /organizations/{id}/reports/user-activity:
    get:
      tags:
        - Organization Management
      summary: Get user activity report
      description: Generate detailed user activity report for the organization
      operationId: getOrganizationUserActivityReport
      security:
        - bearerAuth: [admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
        - name: start_date
          in: query
          schema:
            type: string
[...]
